@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --text: #E0E0E0;
  --accent: #0AA2FF;
  --sidebar: #1E1E1E;
  --projectbg: #1A1A1A;
}

:root[data-theme="light"] {
  --background: #FFFFFF;
  --text: #212121;
  --accent: #0AA2FF;
  --sidebar: #F5F5F5;
  --projectbg: #F9F9F9;
}

html {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.2s ease;
}

@font-face {
  font-family: "Grotesk";
  src: url("/fonts/StanzegicGrotesk.woff") format("woff");
 }